<div class="dashboard-new-post">
    <h3>Create a new Blog Post</h3>
    <form class="new-post">
        <div class="new-post-title">
            <label for="db-post-title">Title:</label>
            <input id="db-post-title" type="text">
        </div>
        <div class="new-post-content">
            <label for="db-post-content">Content:</label>